[Unit]
Description=systemd-cron
Documentation=man:systemd.cron(7)
Requires=systemd-cron-cleaner.timer
Wants=cron-update.path

[Install]
WantedBy=multi-user.target
